/* connexion.php */
body{
    background-image: url("images/background-2687925_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.offset-md-3{
    margin-top: 150px;
}
.offset-md-3 {
    margin-left: 33%!important;
}
span{
    color: red;
}
h2{
    position: relative;
    top: 100px;
}
em{
    color: rgb(68, 68, 68);
}

